p::first-letter {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

blockquote {
    text-align: right;
    font-style: italic;
}

.text {
    background-color: rgb(246, 243, 243);
    margin: 10px;
    padding: 10px;
}

.sen1 {
    opacity: 100%;
}

.sen2 {
    opacity: 75%;
}

.sen3 {
    opacity: 55%;
}

.sen4 {
    opacity: 35%;
}

.sen5 {
    opacity: 20%;
}

.sen6 {
    opacity: 10%;
}

.sen7 {
    opacity: 5%;
}